.video {
  padding-top: 100px;
}
.video__iframes {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: -60px;
}
.video__iframe {
  border: 0;
  width: 515px;
  height: 316px;
}
