.cards__title {
  margin: 0;
  margin-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.cards__item {
  text-align: center;
}
.cards__image {
  max-height: 160px;
  max-width: 160px;
  border-radius: 100%;
}
.cards__description {
  margin: 0;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
