.two-columns {
  width: 80%;
  /* margin: 0px auto; */
  display: flex;
  justify-content: space-between;
}

.two-columns__text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}
