.kaufman__triangle {
  background: no-repeat right top url('../../../images/kaufman-triangle.svg');
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin-right: -210px;
  height: 877px;
  width: 877px;
  overflow: hidden;
}
