.footer {
  background-color: #1f1f1f;

}

.footer__columns {
  box-sizing: border-box;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin-bottom: 16px;
}

.footer__column-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
